@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --header-height: 3rem;
    --font-semi: 600;
}
:root{
    --first-color:#4070f4;
    --second-color: #0e2431;
}


body{
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    margin: 0px;
    padding: 0;
}

.container{
    margin: 0 100px;
}

a{
    text-decoration: none;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: var(--header-height); */
    border-bottom: rgb(172, 172, 172) solid 1px;
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    z-index: 10;
    
}

.nav-logo{
    margin: 10px;
    margin-left: 100px;
    color: var(--second-color);
}

.nav-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--second-color);
    margin-right: 100px;

}
.nav-list{
    text-decoration: none;
    list-style: none;
    /* margin: 15px; */
    padding: 0 15px;
}
 
.nav-link{
    position: relative;
    color: var(--second-color);
}

.nav-link:hover{
    color: var(--first-color);
}
.nav-link:hover::after{
    content: '';
    position: absolute;
    background-color: var(--first-color);
    height: 0.15rem;
    width: 100%;
    left: 0;
    bottom: 0;

}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    /* margin: 50px; */
    height: 100vh;
}

.home-content{
    margin: 20px 0px;
}

.home-content h1{
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.home-name{
    color: var(--first-color);
}
.button{
    font-size: 20px;
    background-color: var(--first-color);
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}
.button:hover{
    background-color: #304fa7 ;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);

}
.home-image{
    margin: 0px;
}

.home-image img{
    width: 100%;
    height: 100%;
    border-radius: 60% 40% 70% 30% ;

}
.social-icon{
    display: flex;
    align-items: center;
    margin: 40px 10px;
}

.icon{
    width: max-content;
    font-size: 25px;
    margin-right: 20px;
    color: var(--second-color);
}
.icon:hover{
    color: var(--first-color);

}
.section-title{
    position: relative;
    color: var(--second-color);
    text-align: center;
    margin: 0;
}
.section-title::after{
    position: absolute;
    content: '';
    background-color: var(--first-color);
    width: 70px;
    height: 0.15rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.about-container{
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.about{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.about-image {
    text-align: center;
}
.about-image img{
    width: 300px;
    border-radius: 50%;
    border: solid black 0.5px;
}

.about-content{
    margin-left: 25px;
    font-size: 19px;
}

.skills{
    margin-top: 50px;
    margin-bottom: 20px;
}

.skill-container{
    display: flex;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
    margin: 20px 10px;
}
.skill-bars{
    width: 50%;
}

.skill-title{
    margin-bottom: 2px;
}

.skill-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: auto;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    position: relative;
}

.name{
    margin: 0 8px;
}

.skill-name i{
    font-size: 20px;
    color: var(--first-color);
}

.skill-percentage{
    margin-right: 0;
}

.skill-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--first-color);
    z-index: 2;
}

.skill-python{
    width: 65%;
}

.skill-c{
    width: 70%;
}

.skill-sql{
    width: 60%;
}

.skill-html{
    width: 90%;
}

.skill-css{
    width: 80%;
}

.skill-js{
    width: 60%;
}

.forms{
    /* width: 400px; */
    text-align: center;
    margin:20px 0;
    
}

.form-fields{
    margin: 7px;
    width: 400px;
    border-radius: 5px;
    border: solid grey 0.5px;
    padding: 5px 10px;
}

.forms textarea{
    height: 150px;
}

.button-form{
    font-weight: 300;
    background-color: var(--first-color);
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    
}

.footer-container{
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: #0e2431;
    color: white;
    text-align: center;
}

.footer-container h1{
    margin-bottom: 10px;
    margin-top: 0;
}
.footer-container p{
    margin-bottom: 0;
    padding-bottom: 10px;
}
.footer-icon{
    font-size: 25px;
    padding: 10px;
    color: white;
}


/* MEDIA SCREENS */

@media  screen and (max-width:728px) {
    .container{
        margin: 0 30px;
    }
    .nav{
        justify-content: space-around;
        box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    }
    .nav-logo{
        margin-left: 30px;
    }
    .nav-menu{
        padding-left: 0;
    }
    .home{
        flex-direction: column;
        height: 65vh;
        padding: 0;
    }
    .home-content{
        width: 100%;
    }
    .home-image{
        display: none;
        margin: 20px;
    }
    .home-image img{
        width: 300px;
    }
    .about-container{
        background-color: #f7f3f3;
        padding: 40px 20px;
        margin: 20px 0;
    }
    .about{
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .about-image{
    }
    .about-image img{
        width: 150px;
    }
    .about-content{
    }
    .skills{
        margin: 20px 0;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
    }
    .skill-bars{
        width: 100%;
    }
    .skill-image{
        display: none;
    }
    .form-fields{
        width: 90%;
    }
    .contact{
        background-color: #f7f3f3;
        margin: 15px 0;
        padding: 5px 20px;
    }
}
